<?xml version="1.0" encoding="utf-8" ?>
<Options xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" TestRunTimeLimit="3" EnableUpperCase="ShowDetailViewFromDashboard.Web">
	<Applications>
		<!-- Win -->
		<Application
			Name="ShowDetailViewFromDashboard.Win"
			FileName="[WinAppBin]\ShowDetailViewFromDashboard.Win.exe"
			AdapterAssemblyName="[WinAdapterAssemblyName]"
			CommunicationPort="4100"/>
		<!-- Web -->
		<Application
			Name="ShowDetailViewFromDashboard.Web"
			Url="http://localhost:4030"
			PhysicalPath="[WebAppBin]"
			AdapterAssemblyName="[WebAdapterAssemblyName]"/>
		<!-- For IIS -->
		<!--Application
			Name="ShowDetailViewFromDashboard.Web"
			Url="http://localhost/ShowDetailViewFromDashboard.Web/Default.aspx"
			AdapterAssemblyName="[WebAdapterAssemblyName]"/-->
	</Applications>
	<TestDatabases>
		<Database xsi:type="TestMSSQLDatabase" Server="(localdb)\mssqllocaldb" DBName="ShowDetailViewFromDashboardEasyTest"/>
	</TestDatabases>

	<Aliases>
		<Alias Name="DomainUserName" Value="%USERDOMAIN%\%USERNAME%" />
		<Alias Name="WinAdapterAssemblyName" Value="DevExpress.ExpressApp.EasyTest.WinAdapter.v16.2" />
		<Alias Name="WebAdapterAssemblyName" Value="DevExpress.ExpressApp.EasyTest.WebAdapter.v16.2" />
		<Alias Name="WinAppBin" Value="[ConfigPath]\..\..\ShowDetailViewFromDashboard.Win\Bin\EasyTest" />
		<Alias Name="WebAppBin" Value="[ConfigPath]\..\..\ShowDetailViewFromDashboard.Web" />
	</Aliases>
</Options>
